@charset "UTF-8";

body{
    background-color: #CEF09D;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #1C646D;

}
h1#principal {
    color: #38184C;
    background-color: aliceblue;
    text-align: center;

}
h1.destaque {
    background-color: antiquewhite;
    text-align: center;
}

h2 {
   color: #1F0802;
   
}

p {
    text-indent: 30px;
}

h2.basico {
    color: #6d1c67 ;
    
}
h2.intermediario {
    color: #4e6d1c;
}
h2.avancado {
    color: #6d231c;
}