@charset "UTF-8";

@font-face {
    font-family: "idroid";
    src: url(fontes/idroid.otf) format(opentype);
}

:root {
    --color1: #B1F2AC;
    --color2: #17BD6A;
    --color3: #2F7050;
    --color4: #2F7050;
}

body {
    background-color: var(--color1);
    margin: auto;
}

header {
    background-image: linear-gradient(to bottom, var(--color2), var(--color4));
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    color: white;
    padding: 18px;
}

header > h1 {
    margin: 25px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 2px 4px rgb(0 0 0 / 56%);
}

header > h3 {
    font-size: 15px;
    padding: 3px;
    margin: 35px;
    color: whitesmoke;
    text-shadow: 1px 2px 4px rgb(0 0 0 / 31%);
}

main > h1 {
    margin: 25px;
    font-size: 40px;
    font-weight: bold;
}

nav {
    margin: -18px;
    padding: 12px;
    text-align: justify;
    display: flex;
    justify-content: space-around;
}

nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
}

nav > a:hover {
    background-color: var(--color1);
    color: var(--color3);
    transition-duration: 1s; 
    border-radius: 5px;
}

main {
    background-color: white;
    margin: 0px 20px;
    padding: 1px 10px;
    line-height: 1.5em;
    text-indent: 2px;
    box-shadow: 0px 0px 4px 1px rgb(22 16 16 / 46%);
    margin-bottom: 26px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
a.external {
   color: var(--color4);
   font-weight: bolder;
   text-decoration: none;
}

article a:hover {
    background-color: var(--color1);
    padding: 2px 4px;
    transition-duration: .3s;   
    border-radius: 3px;
}

h1.main-title {
    font-size: xx-large;
    font-weight: normal;
    font-family: idroid;
    text-align: center;
    color: var(--color4);
    line-height: 1em;
}
h2.title-two {
    font-family: idroid;
    text-align: inherit;
    color: var(--color4);
    background-image: linear-gradient(to right, var(--color1), transparent);
    font-weight: normal;
}

p {
    text-indent: 10px;
    font-size: large;
    line-height: 1.5em;
}

h4 {
    background-color: var(--color2);
    color: white;
    height: 25px;
    border-radius: -4px;
    border-radius: 5px 5px 0px 0px;
}

article.text-end {
    background-color: #a0cf9d7d;
    border-radius: 9px;
}

article.text-end > p {
    padding: 4px;
}

article strong {
    color: var(--color4);   
    font-weight: bolder;
}

div {
    display: flex;
    flex-wrap: nowrap;
    columns: 2;
}

div.video {
    background-color: var(--color3);
    margin: 0px -10px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90%;
    height: 90%;

}

ul {
    list-style-type: none;
}

img.bugdroid {
    max-width: 350px;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--color4);
    padding: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
footer > a {
    color: whitesmoke;
    text-decoration: none;
}

footer > a:hover {
    text-decoration: underline;
    color: var(--color1);
}